$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #081e39;
$primaryDark: #081e39;
$primaryLight: #74a3b8;
$disabledBackground: #e6dcd4;
$disabledColor: #666;
$valid: #6789a6;
$invalid: #e26f67;